!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/javascripts/bootstrap.min.js')
